<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hades.androidhacks">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hack7.Hack7Activity" />

        <activity android:name=".hack19.Hack19Activity" />
        <activity android:name=".hack20.mvp.view.MainActivity" />
        <activity android:name=".hack20.mvp.view.SplashActivity" />
        <activity android:name=".hack20.mvp.view.WeatherActivity" />
        <activity android:name=".hack21.Hack21Activity" />

        <service android:name=".hack21.MyService" />

        <activity android:name=".hack22.Hack22Activity" />
        <activity android:name=".hack24.Hack24Activity" />
        <activity android:name=".hack25.Hack25Activity" />
        <activity android:name=".hack26.Hack26Activity" />
        <activity android:name=".hack27.Hack27Activity" />
        <activity android:name=".hack28.Hack28Activity" />
        <!--<activity-->
        <!--android:name=".hack29.Hack29Activity"-->
        <!--android:configChanges="orientation|screenSize" />-->
        <activity android:name=".hack29.Hack29Activity" />
        <activity android:name=".hack30.Hack30Activity" />
        <activity android:name=".hack35.Hack35Activity" />
        <activity android:name=".hack36.Hack36Activity" />
        <activity android:name=".hack37.Hack37Activity" />
        <activity android:name=".hack39.Hack39Activity" />
        <activity android:name=".hack40.ImageDetailActivity" />
        <activity android:name=".hack40.ImageGridMainActivity" />
        <activity android:name=".hack40.TestListActivity" />
        <activity android:name=".hack41.Hack41Activity" />
        <activity android:name=".hack41.ArticleActivity" />
        <activity android:name=".hack43.Hack43Activity" />

        <activity android:name=".hack43.NoBatchActivity" />
        <activity android:name=".hack43.BatchActivity" />
        <activity android:name=".hack43.SQLContentProviderActivity" />

        <service android:name=".hack43.service.NoBatchService" />
        <service android:name=".hack43.service.BatchService" />
        <service android:name=".hack43.service.SQLContentProviderService" />

        <provider
            android:name=".hack43.provider.NoBatchNumbersContentProvider"
            android:authorities="com.example.hades.androidhacks.hack43.provider.NoBatchNumbersContentProvider"
            android:exported="false"
            android:label="NoBatchNumbers" />
        <provider
            android:name=".hack43.provider.BatchNumbersContentProvider"
            android:authorities="com.example.hades.androidhacks.hack43.provider.BatchNumbersContentProvider"
            android:exported="false"
            android:label="BatchNumbers" />
        <provider
            android:name=".hack43.provider.MySQLContentProvider"
            android:authorities="com.example.hades.androidhacks.hack43.provider.MySQLContentProvider"
            android:exported="false"
            android:label="SQLContentProviderNumbers" />

        <activity android:name=".hack45.Hack45Activity" />
    </application>

</manifest>
